@font-face {
    font-family: dollar;
    src: url(/res/css/Dollar\ Bill.ttf);
}
body{
    background-image: url("background.jfif");
    
    
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    font-family: 'dollar';
}
.main{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 13%;
    border: 5px solid rgb(43, 82, 55);
    background-color: rgba(156, 190, 165, 0.8);
   
    
}
.retarder{
    display: flex;
}

.counter{
    background-color: rgb(60, 116, 77);
    color: aliceblue;
    text-align: center;
    
}

#baller{
    width: 100%;
    
}
#clikupgrade{
    
    background-color: rgb(208, 232, 216);
    color: rgb(49, 95, 63);
    height: 100px;
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 200ms;
}
#clikupgrade:hover{
    transition: 300ms;
    scale: 102%;
}
#clikupgrade:active{
    transition: 50ms;
    scale: 98%;
}
#autockicker{
    background-color: rgb(208, 232, 216);
    color: rgb(49, 95, 63);
    height: 100px;
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 200ms;
}
#autockicker:hover{
    transition: 300ms;
    scale: 102%;
}
#autockicker:active{
    transition: 50ms;
    scale: 98%;
}
.ballerbox{
    width: 30%;
    border-right: 2px solid rgb(0, 68, 0);
    
}
.ballerbox:hover{
    cursor: pointer;
}
.druhejbox{
    width: 40%;

}
.tretibox{

    display: flex;
    flex-direction: column;
    width: 30%;
    border-left: 2px solid rgb(0, 68, 0);
}
.big{
    display: flex;
}
.dik{
    display: flex;
    
}

#buisness{
    
    background-color: rgb(208, 232, 216);
    color: rgb(49, 95, 63);
    height: 100px;
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 200ms;
}
#buisness:hover{
    transition: 300ms;
    scale: 102%;
}
#buisness:active{
    transition: 50ms;
    scale: 98%;
}
#barak{
    width: 100%;
    
    
}
.baraknad{
    text-align: center;
}
.h2{
    text-align: center;
}